.theme--dark, .theme--light {
    --color_success_text: #4d8200;
    --color_success_border: #4d8200;
    --color_rgb_success_text: 77,130,0;
    --color_rgb_success_border: 77,130,0;
    --color_auction_participant: #1c8a62;
    --color_auction_sell: #909090;
    --color_auction_own: #9370db;
    --color_auction_private: #9370db;
    --color_auction_archiving: grey;
    --color_rgb_auction_archiving: 128,128,128;
    --color_rgb_auction_private: 147,112,219;
    --color_dark_background--light: #11262b;
    --color_dark_border--ligth: #283235;
    --color_dark_background: #1f2024;
    --color_dark_border: #283235;
    --color_dark_background--darker: #1a1b1f;
    --color_dark_border--darker: #171e21;
    --color_rgb_dark_background--light: 17,38,43;
    --color_rgb_dark_border--ligth: 40,50,53;
    --color_rgb_dark_background: 23,30,33;
    --color_rgb_dark_border: 40,50,53;
    --color_rgb_dark_background--darker: 7,16,19;
    --color_rgb_dark_border--darker: 23,30,33;
    --color_place_order: #8a340f;
    --color_place_order_text: #c6cbcc;
    --color_place_order--hover: #e64400;
    --color_place_order--active: #ff8f00;
    --color_create_auction: #8960db;
    --color_create_auction_text: #f5f5f5;
    --color_create_auction--hover: #b08cff;
    --color_create_auction--active: #9d92ff;
    --color_input_inner_shadow: 0,0,0;
    --color_attribute_text: #fff;
    --color_attribute_background_first: #19a187;
    --color_attribute_background_second: #358576;
    --color_attribute_background_third: #516965;
    --color_attribute_background_negative: #98392d;
    --color_rgb_attribute_background_first: 25,161,135;
    --color_rgb_attribute_background_second: 52.9,133.1,117.76765;
    --color_rgb_attribute_background_third: 80.8,105.2,100.53529;
    --color_rgb_attribute_background_negative: 152,57,45;
    --color_link_dimmed: #408698;
    --color_link_dimmed--hover: #a3dddb;
    --color_link_dimmed--active: #acb8dd;
    --color_rgb_link_dimmed: 64,134,152;
    --color_rgb_link_dimmed--hover: 163,221,219;
    --color_rgb_link_dimmed--active: 172,184,221;
    --color_dark_md_code_background: #000;
    --color_dark_md_code_text: #39a57e;
    --color_rgb_dark_md_code_background: 0,0,0;
    --color_status-online: #006400;
    --color_status-ingame: #9370db;
    --color_status-offline: #ff3737;
    --color_status-invis: #a9a9a9;
    --color_highlight: #b53600;
    --color_highlight_text: #f5f5f5;
    --color_tooltip_background: #1b2432;
    --color_tooltip_border: #000;
    --color_tooltip_text: #aab3b6;
    --color_rgb_tooltip_background: 27,36,50;
    --color_dark_text: #aab3b6;
    --color_dark_h1: #fcfdfd;
    --color_dark_h2: #e1e4e5;
    --color_dark_h3: #c5ccce;
    --color_dark_disclaimer: #19a188;
}

.theme--light {
    --color_success_background: #d5dec7;
    --color_rgb_success_background: 213,222,199;
    --color_warning_text: #856404;
    --color_warning_background: #fff3cd;
    --color_warning_border: #856404;
    --color_rgb_warning_text: 133,100,4;
    --color_rgb_warning_background: 255,243,205;
    --color_rgb_warning_border: 133,100,4;
    --color_danger_text: #8a2800;
    --color_danger_background: #efd4c3;
    --color_danger_border: #8a2800;
    --color_rgb_danger_text: 138,40,0;
    --color_rgb_danger_background: 239,212,195;
    --color_rgb_danger_border: 138,40,0;
    --color_info_text: #0c5460;
    --color_info_background: #d1ecf1;
    --color_info_border: #0c5460;
    --color_rgb_info_text: 12,84,96;
    --color_rgb_info_background: 209,236,241;
    --color_rgb_info_border: 12,84,96;
    --color_background--light: #1f2024;
    --color_border--light: #aeb6b9;
    --color_background: #27292d;
    --color_border: #7f97a2;
    --color_background--darker: #222428;
    --color_border--darker: #3d879c;
    --color_rgb_background--light: 49,51,55;
    --color_rgb_background: 245,245,245;
    --color_rgb_background--darker: 222,223,223;
    --color_button_text: #f5f5f5;
    --color_button_disabled_opacity: .65;
    --color_input_background: #242626;
    --color_input_background--selected: #2b5d6c40;
    --color_input_background--disabled: #e9ecef;
    --color_input_text: #aeb6b9;
    --color_input_text--highlight: #19a187;
    --color_input_text--disabled: #495057;
    --color_input_border: #3d879c;
    --color_input_border--disabled: #c6cbcc;
    --color_input_group_background: #252626;
    --color_placeholder: #c1cacd;
    --color_dropdown_group-name: #495057;
    --color_dropdown_group-border: #495057;
    --color_link: #3c879c;
    --color_link--hover: #399ea5;
    --color_link--active: #19a187;
    --color_rgb_link: 38,86,99;
    --color_rgb_link--hover: 57,158,165;
    --color_rgb_link--active: 25,161,135;
    --color_link_red: #bd3833;
    --color_link_red--hover: #a52f31;
    --color_link_red--active: #a53162;
    --color_rgb_link_red: 99,38,38;
    --color_rgb_link_red--hover: 165,47,49;
    --color_rgb_link_red--active: 165,49,98;
    --color_link_dimmed_red: #ad4242;
    --color_link_dimmed_red--hover: #d46668;
    --color_link_dimmed_red--active: #a53162;
    --color_rgb_link_dimmed_red: 172.70803,66.29197,66.29197;
    --color_rgb_link_dimmed_red--hover: 211.54717,102.45283,104.30189;
    --color_rgb_link_dimmed_red--active: 165,49,98;
    --color_md_code_background: #f8f8f8;
    --color_md_code_text: #172b4d;
    --color_rgb_md_code_background: #f8f8f8;
    --color_sell: #ab3e85;
    --color_buy: #1c8a62;
    --color_price: #75a5b7;
    --color_rgb_sell: 171,62,133;
    --color_rgb_buy: 28,138,98;
    --color_rgb_price: 117,165,183;
    --color_own--even: #e7e1f0;
    --color_own--odd: #f6f0ff;
    --color_modal_backdrop: 26,37,40;
    --color_text: #c6cbcc;
    --color_rgb_text: 198,203,204;
    --color_h1: #39a57e;
    --color_h2: #5ba58a;
    --color_h3: #5ba58a;
    --color_h4: #5ba58a;
}

.online-switch--3w_qP>span.active {
    background: rgba(var(--color_rgb_link--active),.2);
}

.order-unit--1rBda, .order-row--3bm8d, .auction-entry, .ducats--19NP- {
    background-color:rgb(34 36 40);
}

.order-own--2xNl0.invisible--1DrjY, .order-own--2xNl0.odd--2D4nW.invisible--1DrjY {
    border-left: 5px solid #bd3833;
}
