$color_background--light: #171e21;
$color_border--light: #203137;
$color_background: #101619;
$color_border: #2d3437;
$color_background--darker: #071013;
$color_border--darker: black;

$color_input_background: #121212;
$color_input_background--selected: #121212;
$color_input_background--disabled: #1d1d1d;
$color_input_inner_shadow: black;
$color_input_text: #abaeaf;
$color_input_text--highlight: #19a187;
$color_input_text--disabled: #565656;
$color_input_border: #213138;
$color_input_border--disabled: #2f2f2f;
$color_input_group_background: #121212;

$color_text: #919596; // #8a9193;
$color_h1: lighten(#919596, 20%);
$color_h2: lighten(#919596, 20%);
$color_h3: lighten(#919596, 20%);
$color_h4: lighten(#919596, 20%);
$color_placeholder: #333; // #333333;

$color_dark_background--light: #11262b;
$color_dark_border--light: #283235;
$color_dark_background: #171e21;
$color_dark_border: #283235;
$color_dark_background--darker: #071013;
$color_dark_border--darker: #171e21; // #283235;

$color_dark_text: #aab3b6;
$color_dark_h1: lighten($color_dark_text, 30%);
$color_dark_h2: lighten($color_dark_text, 20%);
$color_dark_h3: lighten($color_dark_text, 10%);
$color_dark_disclaimer: #333d40;

// Links and buttons
$color_link: #3c879c;
$color_link--hover: #5ff5ff;
$color_link--active: #1bb194;

$color_link_red: #a52f31;
$color_link_red--hover: #ff6969;
$color_link_red--active: #c83383;

$color_link_dimmed: #408698; //#7aa7a5;
$color_link_dimmed--hover: #a3dddb;
$color_link_dimmed--active: #acb8dd;

$color_link_dimmed_red: lighten($color_link_red, 20%);
$color_link_dimmed_red--hover: lighten($color_link_red--hover, 20%);
$color_link_dimmed_red--active: $color_link_red--active;

$color_button_text: #161e21;
$color_button_disabled_opacity: 0.35;

// Place order button and counters (new messages)
$color_highlight: #b53600;
$color_highlight-text: #f5f5f5;

// Place order button
$color_place_order: #b53600;
$color_place_order_text: #f5f5f5;
$color_place_order--hover: #e64400;
$color_place_order--active: #ff8f00;

// Create auction button.
$color_create_auction: #8960db;
$color_create_auction_text: #f5f5f5;
$color_create_auction--hover: #b08cff;
$color_create_auction--active: #9d92ff;

// Attribute and name selectors
$color_attribute_text: white;
$color_attribute_background_first: #19a187;
$color_attribute_background_second: desaturate(#19a187, 30%);
$color_attribute_background_third: desaturate(#19a187, 60%);
$color_attribute_background_negative: #98392d;

// Alerts
$color_success_text: #4d8200;
$color_success_background: #1c2b22;
$color_success_border: #4d8200;

$color_warning_text: #d69f00;
$color_warning_background: #36311d;
$color_warning_border: #d69f00;

$color_danger_text: #cc3000;
$color_danger_background: #34201b;
$color_danger_border: #cc3000;

$color_info_text: #17b7d2;
$color_info_background: #132f38;
$color_info_border: #17b7d2;

// Tooltips
$color_tooltip_background: #1b2432; // gunmetal (dark)
$color_tooltip_border: black;
$color_tooltip_text: #aab3b6;

// Misc
$color_sell: #cb4a9e;
$color_buy: #209e70;
$color_price: #bebebe;

$color_status-online: darkgreen;
$color_status-ingame: mediumpurple;
$color_status-offline: darkred;
$color_status-invis: darkgrey;

// Used for order and bid rows, own order//bid of current user
$color_own--odd: #382447;
$color_own--even: #2c2547;

// Auctions
$color_auction_participant: #1c8a62;
$color_auction_sell: #909090;
$color_auction_own: mediumpurple;
$color_auction_private: mediumpurple;
$color_auction_archiving: gray;

// Markdown
$color_md_code_background: #101619;
$color_md_code_text: #39a57e;
$color_dark_md_code_background: black;
$color_dark_md_code_text: #39a57e;

// Modal window
$color_modal_backdrop: 3, 7, 8;
