@import '../functions';

@mixin forms() {
  //
  // Input fields and groups
  //
  --color_input_background: #{$color_input_background};
  --color_input_background--selected: #{$color_input_background--selected};
  --color_input_background--disabled: #{$color_input_background--disabled};
  --color_input_inner_shadow: #{hexToRGBString($color_input_inner_shadow)};
  --color_input_text: #{$color_input_text};
  --color_input_text--highlight: #{$color_input_text--highlight};
  --color_input_text--disabled: #{$color_input_text--disabled};
  --color_input_border: #{$color_input_border};
  --color_input_border--disabled: #{$color_input_border--disabled};
  --color_input_group_background: #{$color_input_group_background};
  --color_placeholder: #{$color_placeholder};

  //
  // Attribute selector and search components/
  // Used in auctions search and creation.
  //
  --color_attribute_text: #{$color_attribute_text};
  --color_attribute_background_first: #{$color_attribute_background_first};
  --color_attribute_background_second: #{$color_attribute_background_second};
  --color_attribute_background_third: #{$color_attribute_background_third};
  --color_attribute_background_negative: #{$color_attribute_background_negative};

  --color_rgb_attribute_background_first: #{hexToRGBString($color_attribute_background_first)};
  --color_rgb_attribute_background_second: #{hexToRGBString($color_attribute_background_second)};
  --color_rgb_attribute_background_third: #{hexToRGBString($color_attribute_background_third)};
  --color_rgb_attribute_background_negative: #{hexToRGBString($color_attribute_background_negative)};

  --color_dropdown_group-name: #{$color_input_text};
  --color_dropdown_group-border: #{$color_input_text};
}
